button[kind="primary"] {
    background-color: green !important;
}

button[kind="secondary"] {
    background-color: red !important;
}

div.stButton > button:not([kind="primary"]):not([kind="secondary"]){
    background-color: blue !important;
}